.rh {   float:right;
}

h1  {   background-color:lightblue;
        font-family: 'Times New Roman', Times, serif;
        padding:10px;
        border-style:inset;
        text-align:center;
}

p   {   background-color:snow;
        font-family:Arial, Helvetica, sans-serif;
        padding:10px;
        border-style:outset;
}

img {   margin:15px;
        border-style:solid;

}

body{   background-color:rgb(61, 61, 255);

}

a   {   color:black;

}

article {   background-color:rgb(219, 215, 215);
            font-style:italic;
            width:80%;
            text-align:center;
            margin:auto;
            border-style:outset;
}

figcaption {    margin:auto;
                text-align:center;
                vertical-align:bottom;;
}

hr{     margin:20px;

}

a:link  {  color:purple;
            text-decoration:none;
}

a:hover {   color:yellow;
}

a:visited   {   color:blue;

}